{% extends 'layouts/layout.html' %}
{% block title %}{{title}}
{% endblock %}

{% block content %}

<div class="container-fluid recover">

    <div class="recover-form">    
        <form method="POST">
            {% csrf_token %}                 
            <label class="form-label">Ingrese contraseña anterior: </label>
            <input type="password" class="form-control" name="old_pw" id="old_pw"> </input>
            
            <label class="form-label">Ingrese nueva contraseña: </label>
            <input type="password" class="form-control" name="new_pw" id="new_pw"> </input>   

            <button type="submit" class="btn btn-primary recover-button" id="btn-cambiar">Cambiar contraseña</button>
        </form>
        {% if messages %}

        {% for message in messages%}

            <div class="message">{{message}}</div>

        {% endfor %}

        {% endif %}    
    </div>
</div>

<script>    

    const btn = document.getElementById('btn-cambiar')    

    btn.addEventListener('click', (e)=>{

        const old_pw_value = document.getElementById('old_pw').value
        const new_pw_value = document.getElementById('new_pw').value        

        if(old_pw_value.trim() === '' || new_pw_value.trim() === ''){
            e.preventDefault()
            Swal.fire({
                title: 'Error!',
                text: 'No puedes dejar campos vacíos',
                icon: 'error',
                confirmButtonText: 'Entiendo'
            });
        }
        else if (old_pw_value == new_pw_value){
            e.preventDefault()
            Swal.fire({
                title: 'Error!',
                text: 'La nueva contraseña no puede ser igual a la antigua',
                icon: 'error',
                confirmButtonText: 'Entiendo'
            });
        }
    })

    
</script>

{% endblock%}