{% extends 'layouts/layout.html' %}
{% block title %}{{title}}
{% endblock %}

{% block content %}

<div class="container-fluid recover">

    <div class="recover-form">    
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="token" name="token" value="default"></input>            
            <label class="form-label">Ingrese contraseña: </label>
            <input type="password" class="form-control" name="pw1" id="pw1"> </input>
            
            <label class="form-label">Ingrese nuevamente la contraseña: </label>
            <input type="password" class="form-control" name="pw2" id="pw2"> </input>   

            <button type="submit" class="btn btn-primary recover-button" id="btn-cambiar">Cambiar contraseña</button>
        </form>
    </div>
    

    {% if messages %}

    {% for message in messages%}

        <div class="message">{{message}}</div>

    {% endfor %}

    {% endif %}    
    
</div>

<script>

    const currentUrl = window.location.href.toString().split("/?token=");
    const token = currentUrl[1];    

    document.getElementById('token').value = token;

    const btn = document.getElementById('btn-cambiar')    

    btn.addEventListener('click', (e)=>{

        const password1_value = document.getElementById('pw1').value
        const password2_value = document.getElementById('pw2').value        

        if(password1_value.trim() === '' || password2_value.trim() === ''){
            e.preventDefault()
            Swal.fire({
                title: 'Error!',
                text: 'No puedes dejar campos vacíos',
                icon: 'error',
                confirmButtonText: 'Entiendo'
            });
        }
        else if (password1_value != password2_value){
            e.preventDefault()
            Swal.fire({
                title: 'Error!',
                text: 'Las contraseñas no coinciden',
                icon: 'error',
                confirmButtonText: 'Entiendo'
            });
        }
    })

    
</script>

{% endblock%}