{% extends 'layouts/layout.html' %}

{% block title %}{{title}}
{% endblock %}


{% block content %}

<div class="container-fluid recover">

    <div class="recover-form">    
        <form method="POST">
            {% csrf_token %}
            <label class="form-label">Ingrese correo: </label>
            <input type="user" class="form-control" name="email" id="email"> </input>            

            <button type="submit" class="btn btn-primary recover-button" id="btn-enviar">Enviar</button>

        </form>
        {% if messages %}

            {% for message in messages%}

                <div class="message">{{message}}</div>

            {% endfor %}

        {% endif %}     
    </div>
    

</div>

<script>

    const btn = document.getElementById('btn-enviar')

    btn.addEventListener('click', (e) =>{
        const email_value = document.getElementById('email').value

        if(email_value.trim() === ''){
            e.preventDefault()
            Swal.fire({
                title: 'Error!',
                text: 'Debes completar los campos',
                icon: 'error',
                confirmButtonText: 'Entiendo'
            });
        }

    });


</script>



{% endblock%}